<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fetch | 1-Tap Feedback - Dashboard</title>
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="./../../public/favicon.png"> -->
    <link rel="icon" type="image/png" href="favicon_2.png">
    <!-- include summernote css/js-->
    <!--<link href="summernote.css" rel="stylesheet">
    <script src="summernote.js"></script>-->
</head> 

<!-- <link rel="icon" type="image/x-icon" href="favicon.ico"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta content="" name="description"/>
<meta content="" name="author"/> -->